/renderers/core/target/
/renderers/pdf-renderer/target/
/core/halfa-api/target/
/core/renderers/pdf-renderer/target/
/core/renderers/halfa-renderer-pdf/target/
/core/renderers/halfa-renderer-html/target/
/test/halfa-api/target/
/test/halfa-examples/target/
/core/halfa-engine/target/
/core/halfa-spi-utils/target/classes/net/thevpc/halfa/spi/utils/PagesHelper.class
/core/halfa-spi-utils/target/maven-archiver/pom.properties
/core/halfa-spi-utils/target/maven-status/maven-compiler-plugin/compile/compile/createdFiles.lst
/core/halfa-spi-utils/target/maven-status/maven-compiler-plugin/compile/compile/inputFiles.lst
/core/halfa-spi-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/core/halfa-spi-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/core/halfa-spi-utils/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/core/halfa-spi-utils/target/maven-status/maven-compiler-plugin/testCompile/testCompile/inputFiles.lst
/core/halfa-spi-utils/target/halfa-spi-utils-0.8.4.jar
/core/renderers/halfa-renderer-screen/target/classes/META-INF/services/net.thevpc.halfa.spi.renderer.HNodeRenderer
/core/renderers/halfa-renderer-screen/target/classes/META-INF/services/net.thevpc.halfa.spi.renderer.HDocumentRendererFactory
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/common/AbstractHNodeRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/common/AbstractHNodeRendererContext.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/common/ConvertedHPartRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/common/Gx.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/common/HPartRendererContextDelegate.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/common/HPartRendererContextImpl.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/components/HDocumentLayer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/components/PageIndexSimpleLayer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/components/PizzaProgressLayer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/components/SimpleLayer$1.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/components/SimpleLayer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/components/SourceNameSimpleLayer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/containers/HFlowContainerRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/containers/HGridContainerRenderer$1.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/containers/HGridContainerRenderer$ComputePositionsResult.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/containers/HGridContainerRenderer$FlagMMap.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/containers/HGridContainerRenderer$HPagePartExtInfo.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/containers/HGridContainerRenderer$WeightInfo.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/containers/HGridContainerRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/containers/HOrderedListRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/containers/HStackContainerRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/containers/HUnorderedListRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/fillers/HFillerRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/fillers/HVoidRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/images/HImageRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/shapes/HArcRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/shapes/HEllipseRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/shapes/HLineRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/shapes/HPolygonBaseRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/shapes/HPolygonRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/shapes/HPolylineRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/shapes/HRectangleRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/shapes/HSphereRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/shapes/ParallelogramRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/shapes/RhombusRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/shapes/TrapezoidRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/shapes/TriangleRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/text/HEquationRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/text/HPlainRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/text/HTextRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/renderers/HGraphicsImpl.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/svg/SvgRasterizer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/DocumentView$1.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/DocumentView$2.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/DocumentView$3.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/DocumentView$ContentPanel.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/DocumentView.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/HNodeRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/PageView$MyHPartRendererContextImpl.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/PageView.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/RenderFactoryManager.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/ScreenDocumentRenderer.class
/core/renderers/halfa-renderer-screen/target/classes/net/thevpc/halfa/engine/renderer/screen/ScreenDocumentStreamRendererFactory.class
/core/renderers/halfa-renderer-screen/target/maven-archiver/pom.properties
/core/renderers/halfa-renderer-screen/target/maven-status/maven-compiler-plugin/compile/compile/createdFiles.lst
/core/renderers/halfa-renderer-screen/target/maven-status/maven-compiler-plugin/compile/compile/inputFiles.lst
/core/renderers/halfa-renderer-screen/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/core/renderers/halfa-renderer-screen/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/core/renderers/halfa-renderer-screen/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/core/renderers/halfa-renderer-screen/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/core/renderers/halfa-renderer-screen/target/maven-status/maven-compiler-plugin/testCompile/testCompile/createdFiles.lst
/core/renderers/halfa-renderer-screen/target/maven-status/maven-compiler-plugin/testCompile/testCompile/inputFiles.lst
/core/renderers/halfa-renderer-screen/target/test-classes/test/TestScreen.class
/core/renderers/halfa-renderer-screen/target/halfa-renderer-screen-0.8.4.0.jar
