/renderers/core/target/
/renderers/pdf-renderer/target/
/core/halfa-api/target/
/core/renderers/pdf-renderer/target/
/core/renderers/halfa-renderer-pdf/target/
/core/renderers/halfa-renderer-html/target/
/core/renderers/halfa-renderer-screen/target/
/test/halfa-api/target/
/test/halfa-examples/target/
/core/halfa-engine/target/
/core/halfa-viewer/target
/core/halfa-spi-base/target/
/extensions/halfa-extension-plantuml/target/
/.idea/
/extensions/halfa-extension-svg/target
/extensions/halfa-extension-simple3d/target
/extensions/halfa-extension-animated-gif/target
/documentation/halfa-doc/02-pages/0001-cover/output.pdf
/documentation/halfa-doc/output.pdf
/test/halfa-examples/src/halfa/examples/example001/output.pdf
/output.pdf
/core/halfa-elements/target
/extensions/halfa-extension-latex/target
/extensions/halfa-extension-latex/.pom.xml.kate-swp
/extensions/halfa-extension-shapes3d/target
/extensions/halfa-extension-shapes2d/target
/app/halfa-viewer/target
