.container {
  display: flex;
  height: 100vh;
}

.left-pane {
  width: 50%; /* Largeur fixe pour la partie gauche */
  padding: 10px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.right-pane {
  width: 50%; /* Largeur fixe pour la partie droite */
  padding: 10px;
  overflow-y: auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

li:hover {
  background-color: #eee;
}
